fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic-settings
grpcio
grpcio-tools
asyncpg
httpx
pytest
pytest-asyncio
redis>=5.0.0
pyjwt[crypto]>=2.8.0
cryptography>=42.0.0
./packages/freshfamily_auth-0.1.0-py3-none-any.whl